PORT=5000
MONGODB_URI="mongodb://ritesh21:12345@cluster0-shard-00-00.xwjjv.mongodb.net:27017,cluster0-shard-00-01.xwjjv.mongodb.net:27017,cluster0-shard-00-02.xwjjv.mongodb.net:27017/?ssl=true&replicaSet=atlas-r9plbr-shard-0&authSource=admin&retryWrites=true&w=majority"
JWT_SECRET=hfvwqoudvpi12fef2
JWT_EXPIRES_IN=7d
OTP_BYPASS=123456
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
APP_TIMEZONE=Asia/Kolkata